textblob
web.py
jupyter
ipython
statsmodels
numpy
scipy
pandas
patsy
fiona
shapely
geopandas
matplotlib
sklearn
pymysql
ipython-sql
xgboost
lxml
psycopg2
sqlalchemy
sqlalchemy-redshift
requests
nltk
mpld3